.DS_Store
*~
*.o
*.aps
*.exe
*.zip
*.dmg
*.dylib
libroot*
*.meta
tmp
errors.txt
save
xcuserdata

apps/pro-macos/pro-macos.xcodeproj/project.xcworkspace
apps/pro-macos/pro-macos.xcodeproj/xcuserdata

apps/pack/pack
apps/pack/pack.exe

engines/ios/engine-ios.xcodeproj/project.xcworkspace
engines/ios/engine-ios.xcodeproj/xcuserdata
engines/ios/engine-ios/package.pak
engines/ios/ios-src

engines/macos/engine-macos.xcodeproj/project.xcworkspace
engines/macos/engine-macos.xcodeproj/xcuserdata
engines/macos/build
engines/macos/macos-src

engines/android/.idea
engines/android/app/.cxx
engines/android/app/src/main/assets
engines/android/app/src/main/cpp
engines/android/libopennovel-*.so
engines/android/ndk
engines/android/android-src

engines/wasm/html
engines/wasm/libwebp-1.3.2

engines/linux/game-linux

engines/unity/unity-src
engines/unity/libopennovel.dll
engines/unity/libopennovel.dylib
engines/unity/libopennovel.so
engines/unity/libopennovel.nso
