#include "windows.h"
#include "commctrl.h"
#include "resource.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

IDI_ICON ICON DISCARDABLE "icon.ico"
CREATE_PROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

IDR_ACCELERATOR ACCELERATORS {
	"^O", ID_OPEN
	"^L", ID_RELOAD
	"^S", ID_SAVE
	"^Q", ID_QUIT
	"^R", ID_CONTINUE
	"^N", ID_NEXT
	"^P", ID_STOP
	"^E", ID_ERROR
}

IDD_BG DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "@bg コマンドの編集", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "背景ファイル:", IDC_STATIC, 16, 16, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 26, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 26, 16, 10

    LTEXT           "フェード秒数:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_TIME, 16, 50, 100, 10
    CONTROL	    "", IDC_TRACK_TIME, TRACKBAR_CLASS, TBS_AUTOTICKS, 120, 50, 100, 10

    LTEXT           "フェード種類:", IDC_STATIC, 16, 64, 80, 10
    COMBOBOX        IDC_COMBO_FADE, 16, 74, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "ルール画像:", IDC_STATIC, 16, 88, 80, 10
    EDITTEXT        IDC_TEXT_RULE, 16, 98, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_RULE, 120, 98, 16, 10

    DEFPUSHBUTTON   "OK", IDOK, 0, 120, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 120, 50, 14
END

IDD_BG_EN DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "@bg command properties", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "Background image file:", IDC_STATIC, 16, 16, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 26, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 26, 16, 10

    LTEXT           "Fade time in second:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_TIME, 16, 50, 100, 10
    CONTROL	    "", IDC_TRACK_TIME, TRACKBAR_CLASS, TBS_AUTOTICKS, 120, 50, 100, 10

    LTEXT           "Fade type:", IDC_STATIC, 16, 64, 80, 10
    COMBOBOX        IDC_COMBO_FADE, 16, 74, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "Rule image file:", IDC_STATIC, 16, 88, 80, 10
    EDITTEXT        IDC_TEXT_RULE, 16, 98, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_RULE, 120, 98, 16, 10

    DEFPUSHBUTTON   "OK", IDOK, 0, 120, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 120, 50, 14
END

IDD_CH DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "@ch コマンドの編集", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "キャラクタ位置:", IDC_STATIC, 16, 16, 80, 10
    COMBOBOX        IDC_COMBO_CHPOS, 16, 26, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "キャラクタファイル:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 50, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 50, 16, 10
    CHECKBOX	    "消去", IDC_CHECK_NONE, 16, 60, 100, 10

    LTEXT           "フェード秒数:", IDC_STATIC, 16, 74, 80, 10
    EDITTEXT        IDC_TEXT_TIME, 16, 84, 100, 10
    CONTROL	    "", IDC_TRACK_TIME, TRACKBAR_CLASS, TBS_AUTOTICKS, 120, 84, 100, 10

    LTEXT           "フェード種類:", IDC_STATIC, 16, 98, 80, 10
    COMBOBOX        IDC_COMBO_FADE, 16, 108, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "ルール画像:", IDC_STATIC, 16, 122, 80, 10
    EDITTEXT        IDC_TEXT_RULE, 16, 132, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_RULE, 120, 132, 16, 10

    LTEXT           "右シフト(ピクセル):", IDC_STATIC, 16, 146, 80, 10
    EDITTEXT        IDC_TEXT_OFSX, 16, 156, 100, 10

    LTEXT           "下シフト(ピクセル):", IDC_STATIC, 16, 170, 80, 10
    EDITTEXT        IDC_TEXT_OFSY, 16, 180, 100, 10

    DEFPUSHBUTTON   "OK", IDOK, 0, 220, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 220, 50, 14
END

IDD_CH_EN DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "@ch command properties", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "Character position:", IDC_STATIC, 16, 16, 80, 10
    COMBOBOX        IDC_COMBO_CHPOS, 16, 26, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "Character image file:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 50, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 50, 16, 10
    CHECKBOX	    "Exit", IDC_CHECK_NONE, 16, 60, 100, 10

    LTEXT           "Fade time in second:", IDC_STATIC, 16, 74, 80, 10
    EDITTEXT        IDC_TEXT_TIME, 16, 84, 100, 10
    CONTROL	    "", IDC_TRACK_TIME, TRACKBAR_CLASS, TBS_AUTOTICKS, 120, 84, 100, 10

    LTEXT           "Fade type:", IDC_STATIC, 16, 98, 80, 10
    COMBOBOX        IDC_COMBO_FADE, 16, 108, 100, 10, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "Rule image file:", IDC_STATIC, 16, 122, 80, 10
    EDITTEXT        IDC_TEXT_RULE, 16, 132, 100, 10
    PUSHBUTTON      "...", IDC_BUTTON_RULE, 120, 132, 16, 10

    LTEXT           "Right shift in pixel:", IDC_STATIC, 16, 146, 80, 10
    EDITTEXT        IDC_TEXT_OFSX, 16, 156, 100, 10

    LTEXT           "Down shift in pixel:", IDC_STATIC, 16, 170, 80, 10
    EDITTEXT        IDC_TEXT_OFSY, 16, 180, 100, 10

    DEFPUSHBUTTON   "OK", IDOK, 0, 220, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 220, 50, 14
END

IDD_MESSAGE DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "メッセージの編集", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "キャラクタ名:", IDC_STATIC, 16, 16, 80, 10
    EDITTEXT        IDC_TEXT_NAME, 16, 26, 100, 10, WS_TABSTOP

    LTEXT           "音声ファイル:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 50, 100, 10, WS_TABSTOP
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 50, 16, 10, WS_TABSTOP

    LTEXT           "メッセージ本文:", IDC_STATIC, 16, 64, 80, 10
    EDITTEXT        IDC_TEXT_MESSAGE, 16, 74, 140, 80, WS_TABSTOP | ES_MULTILINE | ES_AUTOVSCROLL

    COMBOBOX        IDC_COMBO_ESCAPE, 54, 160, 80, 10, WS_TABSTOP | CBS_DROPDOWNLIST | WS_TABSTOP
    PUSHBUTTON      "追加", IDC_BUTTON_INSERT, 140, 160, 20, 10, WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 0, 180, 50, 14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 180, 50, 14, WS_TABSTOP
END

IDD_MESSAGE_EN DIALOG DISCARDABLE  0, 0, 121, 69
STYLE WS_CHILD
FONT 9, "Yu Gothic UI"
BEGIN
    LTEXT           "Message properties", IDC_STATIC, 0, 0, 80, 10

    LTEXT           "Character name:", IDC_STATIC, 16, 16, 80, 10
    EDITTEXT        IDC_TEXT_NAME, 16, 26, 100, 10, WS_TABSTOP

    LTEXT           "Voice file:", IDC_STATIC, 16, 40, 80, 10
    EDITTEXT        IDC_TEXT_FILE1, 16, 50, 100, 10, WS_TABSTOP
    PUSHBUTTON      "...", IDC_BUTTON_FILE1, 120, 50, 16, 10, WS_TABSTOP

    LTEXT           "Message text:", IDC_STATIC, 16, 64, 80, 10
    EDITTEXT        IDC_TEXT_MESSAGE, 16, 74, 140, 80, WS_TABSTOP | ES_MULTILINE | ES_AUTOVSCROLL

    COMBOBOX        IDC_COMBO_ESCAPE, 54, 160, 80, 10, WS_TABSTOP | CBS_DROPDOWNLIST | WS_TABSTOP
    PUSHBUTTON      "Add", IDC_BUTTON_INSERT, 140, 160, 20, 10, WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 0, 180, 50, 14, WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 180, 50, 14, WS_TABSTOP
END
